{# set the active navigation link if undefined #}
{% set active_page = active_page | default('index') %}

<header>
    <nav class="deep-orange darken-2">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">EP Monitor</a>
                <a href="#" data-activates="side-nav" class="button-collapse show-on-large right">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li class="{% if active_page == 'index' %}active{% endif %}">
                        <a href="{{ url_for('main.index') }}">Dashboard</a>
                    </li>
                    <li class="{% if active_page == 'monitors' %}active{% endif %}">
                        <a href="{{ url_for('monitors.index') }}">Monitors</a>
                    </li>
                    <li class="{% if active_page == 'integrations' %}active{% endif %}">
                        <a href="#">Integrations</a>
                    </li>
                    <li class="{% if active_page == 'settings' %}active{% endif %}">
                        <a href="#">Settings</a>
                    </li>
                </ul>

                <!-- Side Navigation -->
                <ul id="side-nav" class="side-nav">
                    <li>
                        <div class="user-view">
                            <div class="background">
                                <img src="https://source.unsplash.com/1024x1204/?clouds">
                            </div>
                            <a href="#">
                                <img src="https://source.unsplash.com/64x64/?user,account" class="circle">
                            </a>
                            <a href="#">
                                <span class="blue-grey-text">John Doe</span>
                            </a>
                            <a href="#">
                                <span class="email blue-grey-text">jdoe@gmail.com</span>
                            </a>
                        </div>
                    </li>
                    <li class="active"><a href="#"><i class="material-icons">dashboard</i> Dashboard</a></li>
                    <li class="{% if active_page == 'monitors' %}active{% endif %}">
                        <a href="{{ url_for('monitors.index') }}">Monitors</a>
                    </li>
                    <li class="{% if active_page == 'integrations' %}active{% endif %}">
                        <a href="#">Integrations</a>
                    </li>
                    <li class="{% if active_page == 'settings' %}active{% endif %}">
                        <a href="#">Settings</a>
                    </li>
                    <li><div class="divider"></div></li>
                    <li><a class="subheader">Account Controls</a></li>
                    <li><a class="waves-effect" href="#">Logout</a></li>
                </ul><!-- end side navigation -->
            </div>
        </div>
    </nav><!-- Main application navigation -->
</header>
