<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% block css %}
        <!-- Import Fonts -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <!-- Import Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        {% endblock %}

        {% if title %}
        <title>EP Monitor - {{ title }}</title>
        {% else %}
        <title>EP Monitor</title>
        {% endif %}
    </head>

    <body>
        {% include '_topnav.html.j2' %}

        {% block content %}{% endblock %}

        <footer class="page-footer deep-orange">
            <div class="row">
                <div class="col s12">
                    <h5>Footer blah blah</h5> 
                </div>
            </div>
            <div class="footer-copyright">
                Copyright blah blah
            </div>
        </footer>

        {% block javascript %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('.button-collapse').sideNav();
            });

            <!-- display any flask flashed messages as material toasts -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            Materialize.toast("<span>{{ message }}</span>")
            {% endfor %}
            {% endif %}
            {% endwith %}

        </script>
        {% endblock %}

    </body>

</html>
