<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% block css %}
        <!-- Import Google Icon Font -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Import Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

        <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        .monitor-label {
            font-size: 1.2em;
        }

        </style>
        {% endblock %}

        {% if title %}
        <title>EP Monitor - {{ title }}</title>
        {% else %}
        <title>EP Monitor</title>
        {% endif %}
    </head>

    <body>
        {% include "_topnav.html.j2" %}

        {% block main %}
        <main class="container" role="main">
            {% block content %}{% endblock %}
        </main>
        {% endblock %}

        <!-- footer -->
        <footer class="page-footer deep-orange">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5>End Point Monitoring</h5>
                        <p>Blah Blah Blah</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->

        {% block javascript %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>


        <script type="text/javascript">
            $(document).ready(function() {
                $('.button-collapse').sideNav();
            });

            <!-- display any flask flashed messages as material toasts -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            Materialize.toast("<span>{{ message }}</span>")
            {% endfor %}
            {% endif %}
            {% endwith %}
        </script>

        {% endblock %}
    </body>

</html>
