{% extends "base.html.j2" %}
{% set active_page = 'monitors' %}

{% block content %}
<section class="section section-monitors center">
    <div class="row">
        <div class="col s12 right">
            <div class="fixed-action-btn toolbar right" style="position:relative;">
                <a class="btn-floating btn-large deep-orange">
                    <i class="large material-icons left">mode_edit</i>
                </a>
                <ul>
                    <li class="waves-effect waves-light"><a href="#"><i class="material-icons">start</i></a></li>
                    <li class="waves-effect waves-light"><a href="#"><i class="material-icons">stop</i></a></li>
                    <li class="waves-effect waves-light"><a href="{{ url_for('monitors.add') }}"><i class="material-icons">insert_chart</i></a></li>
                </ul>
            </div>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title deep-orange-text text-darken-4">Endpoints</span>
                    <table class="responsive-table striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Frequency <i class="fas fa-question-circle"></i></th>
                                <th>Response <i class="fas fa-question-circle"></i></th>
                                <th>Status Code <i class="fas fa-question-circle"></i></th>
                                <th>99th <i class="fas fa-question-circle"></i></th>
                                <th>Payload <i class="fas fa-question-circle"></i></th>
                                <th>Headers <i class="fas fa-question-circle"></i></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for monitor in monitors %}
                            <tr>
                                <td><a href="{{ url_for('monitors.details', slug=monitor.slug) }}">{{ monitor.name }}</a></td>
                                <td>{{ monitor.frequency }}</td>
                                <td>{% if monitor.slug in results %}{{ '%0.2f' | format(results[monitor.slug][-1].elapsed|float) }} ms{% else %}-{% endif %}</td>
                                <td>{% if monitor.slug in results %}{{ results[monitor.slug][-1].status_code }}{% else %}-{% endif %}</td>
                                <td>{% if monitor.slug in results %}{{ '%0.2f' | format(results[monitor.slug] | percentile(95)) }}{% else %}-{% endif %}</td>
                                <td>
                                    <i class="{% if monitor.payload %}fas fa-check-circle{% else %}fas fa-times-circle{% endif %}"></i>
                                </td>
                                <td>
                                    <i class="{% if monitor.headers %}fas fa-check-circle{% else %}fas fa-times-circle{% endif %}"></i>
                                </td>
                                <td>
                                    <a class="dropdown-button btn btn-small deep-orange accent-2 waves-effect" data-beloworigin="true" href="#" data-activates="settings-{{ monitor.slug }}">Settings</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Drop down settings menus -->
    {% for monitor in monitors %}
    <ul id="settings-{{ monitor.slug }}" class="dropdown-content">
        <li><a href="{{ url_for('monitors.edit', slug=monitor.slug) }}"><i class="fas fa-edit"></i> Edit</a></li>
        <li><a href="#!"><i class="fas fa-stop-circle"></i> Stop</a></li>
        <li><a href="#!"><i class="fas fa-trash"></i> Delete</a></li>
    </ul>
    {% endfor %}
    <!-- end drop downs -->

</section>
{% endblock %}

{% block javascript %}
{{ super() }}

<script type="text/javascript">
    $(document).ready(function() {
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrainWidth: true,
            hover: true,
            belowOrigin: true
        });
    });
</script>
{% endblock %}
